body {
  font-family: Segoe "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 1s;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

/*Tema Oscuro*/
.themDark {
  background-color: rgb(22, 22, 22);
  color: white;
}
/*Tema Claro*/
.themLigth {
  background-color: white;
  color: rgb(22, 22, 22);
}

/*Navbar*/
.IconToggle {
  width: 20px;
  margin: 5px;
}
header {
  width: 100%;
  background-color: rgb(22, 22, 22);
  margin: 0px;
  padding: 0px;
}

.navbarDark,
.navbarLigth {
  width: 100%;
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 10px;
  display: flexbox;
  position: fixed;
  transition: all 1s;
  top: 0px;
  left: 0px;
  flex-direction: column;
}

.navbarLigth {
  background-color: rgb(255, 255, 255);
  color: black;
}

.navbarDark.active,
.navbarLigth.active {
  /* background-color: rgb(91, 88, 88); */
  color: white;
  padding: 15px;
  margin: 0px;
}

.navbarLigth.active {
  color: black;
}

.navbarDark a,
.navbarLigth a {
  color: white;
  transition: all 1s;
}

.navbarLigth a {
  color: black;
}

.navbarDark.active a {
  color: white;
  padding: 10px;
  transition: all 1s;
}

.navbarLigth.active a {
  /* background-color: rgb(201, 201, 201); */
  color: black;
}

.navbarDark a:hover,
.navbarLigth a:hover {
  color: rgb(123, 120, 120);
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
}

.Logo {
  display: inline;
  margin-right: 5px;
}

.Logo > * {
  display: inline;
}

.navbar-menu {
  display: inline;
}

.navbar-menu-item {
  display: inline;
  list-style: none;
  margin-left: 10px;
}

.navbar-menu-item > a {
  text-decoration: none;
}

/* Integrantes */
.dashIntegrantesDark,
.dashIntegrantesLigth {
  position: fixed;
  display: flexbox;
  flex-direction: column;
  width: 12%;
  background-color: rgb(22, 22, 22);
  padding-left: 30px;
  top: 70px;
  transition: all 1s;
  overflow: auto;
}

.dashIntegrantesLigth {
  background-color: rgb(255, 255, 255);
}

.dashIntegrantesDark.active,
.dashIntegrantesLigth.active {
  /* background-color: rgb(91, 88, 88); */
  top: 80px;
}

.imgCir {
  border-radius: 100%;
  border: 1px solid black;
  width: 90px;
}

.integrante {
  display: flexbox;
  width: auto;
  grid-template-rows: auto auto;
}

.integrante-nombre {
  display: block;
  font-size: 1.25rem;
  margin: 0px;
}

.integrante-img {
  width: 7.8125rem;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.integrante-desc {
  display: inline-block;
  width: 100px;
  padding-top: 0px;
  margin-left: 15px;
  font-size: 14px;
}

.dashIntegrantes {
  display: flexbox;
  position: fixed;
  transition: all 1s;
  flex-direction: column;
  width: 20%;
}

/**/
.containerPrincipal {
  margin: 0px;
  display: flexbox;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 0%;
  padding: 0px;
  padding-top: 40px;
  top: 0px;
}

/* Seccion Temas*/
.sectionThems {
  display: inline-block;
  display: flexbox;
  flex-direction: row;
  height: 1150px;
  width: 30%;
  margin: 0px;
  overflow: auto;
}

.sectionThems-title {
  display: block;
  width: 100%;
}

/* Tarjetas temas*/
.cardTheme {
  display: inline-block;
  width: 40%;
  height: 16.8%;
  border: 1px solid white;
  padding: 0px;
  margin: 0.3125rem;
  /* overflow: hidden; */
  justify-content: center;
  justify-items: center;
}

.cardTheme-img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.cardTheme-btn {
  color: transparent;
}

.cardTheme-btn:hover {
  color: green;
  background: #000;
}

.cardTheme-title {
  position: absolute;
  font-size: 20px;
  position: fixed;
  margin: 0%;
  width: 10px;
}

/*Contenido Tema*/
.sectionContenidoSelecionado {
  display: inline-block;
  height: 1150px;
  width: 50%;
  margin: 0px;
  padding: 40px;
  overflow: auto;
}

.temaConten {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  padding-top: 0px;
  height: 100%;
  font-size: 0.9375rem;
}

.temaConten-img1,
.temaConten-img2 {
  width: 37.5rem;
  height: 18.75rem;
}

@media screen and (max-width: 1700px) {

  .cardTheme {
    width: 39%;
    height: 10%;
  }

  .integrante {
    grid-template-columns: 1fr;
  }
  
  .integrante-nombre {
  }
  
  .integrante-img {
    grid-template-columns: 1fr ;
  }

  .containerPrincipal {
    margin-left: 5%;

  }
}


@media screen and (max-width: 1200px) {

  body {
    font-size: 17px;
  }

  .integrante-h3 {
    font-size: 18px;
  }

  .integrante-nombre {
    font-size: 15px;
  }

  .integrante-desc {
    font-size: 11px;
  }

  .imgCir {
    width: 85px;
    
  }

}

@media screen and (max-width: 900px) { 

  body {
    font-size: 15px;
  }

  .integrante-h3 {
    font-size: 18px;

  }
  .integrante-nombre {
    font-size: 15px;
  }

  .integrante-desc {
    font-size: 11px;

  }

  .imgCir {
    width: 80px;
  }

}


@media screen and (max-width: 800px) { 
  body {
    font-size: 13px;
  }
  .containerPrincipal {
    margin-left: 0%;

  }
  .sectionContenidoSelecionado {
    padding: 1px;
  }
  .temaConten {
    padding: 0px;
    margin-left: 0px;
  }

  .cardTheme {
    width: 100%;
    height: 5%;
  }

  .dashIntegrantesLigth, .dashIntegrantesDark{
    display: flexbox;
    position: relative;
    width: 100%;
    height: 40vh;
  }

  .integrante {
    display: inline-block;
    width: 20%;
    margin: 10px;
    padding: 10px;
    margin-top: 0px;

  }
  .integrante-h3 {
    height: auto;
    margin: 0px;
  }

  .integrante-hr {
    display: inline-block;
    visibility: hidden;
    width: 0px;

  }

}

@media screen and (max-width: 600px) { 
  body {
    margin-top: 10px;
  }
}

