body {
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 1s;
}


/* Tarjetas temas*/
.cardTheme {
    width: 300px;
    border: 1px solid white;
    padding: 0px;
    margin: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.cardTheme-img{
    width: 300px;
    height: 200px;
   
    margin: 0px;
    transition: all 1s;
}
.cardTheme-img:hover {
    

}

.cardTheme-btn{
    display: block;
    text-decoration: none;
    color: steelblue;
    
}

.cardTheme-btn:hover{

}

.cardTheme-title {
    display: block;
}

.cardTheme-white{
    overflow: hidden;
    position: absolute;
    width: 100px;
    height: 1.2rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 500ms;
    border: 1px solid;
    border-radius: 5px;
}

.cardTheme-white:hover {
    background-color: rgba(240, 248, 255, 0.588);
    border-top: 3px solid white;
    height: 178px;
    width: 280px;
    padding: 10px;
    font-size: 20px;
    border-radius: 0px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    
    
}


.cardTheme-white{
   
}

.cardTheme-btn{
    padding-bottom: 0px;

}


.imgCir {
    border-radius: 100%;
    border: 1px solid black;
    width: 90px;
}

/*Tema Oscuro*/
.themDark {
    background-color: rgb(22, 22, 22);
    color: white
}
/*Tema Claro*/
.themLigth {
    background-color: white;
    color: rgb(22, 22, 22);
}

.IconToggle {
    width: 20px;
    margin: 5px;
}

/*Navbar*/
header {
    width: 100%;
    background-color: rgb(22, 22, 22);
    margin: 0px;
    padding: 0px;
}

.navbarDark {
    width: 100%;
    background-color: rgb(22, 22, 22); 
    color: white;
    padding: 10px;
    display: flex;
    position: fixed;
    transition: all 1s;
}

.navbarLigth {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    color: black;
    display: flex;
    position: fixed;
    transition: all 1s;
}

.navbarDark.active {
    /* background-color: rgb(91, 88, 88); */
    color: white;
    padding: 15px;
    margin: 0px;
}

.navbarLigth.active {    
    /* background-color: rgb(201, 201, 201); */
    color: black;
    padding: 15px;
    margin: 0px;
}


.Logo{
    display: inline;
    margin-right: 5px;
}

.Logo > * {
    display: inline;
}

.navbar-menu {
    display: inline;
}

.navbar-menu-item {
    display: inline;
    list-style: none;
    margin-left: 10px;

} 

.navbar-menu-item > a {
    text-decoration: none;
}


/*Integrantes */
.divIntegrantes {
    width: 250px;
    margin-left: 20px;
    position: fixed;
    transition: all 1s;
    display: grid;
	grid-template-columns: 1fr;
}

.integrante {
    display: inline-block;
    display: grid;
	grid-template-rows: auto auto;
}

.integrante-nombre {
    font-size: 20px;
    margin: 0px;
    display: block;

}

.integrante-img {
    width: 125px;
    margin: 0px;
    padding: 0px;
    display: grid;
	grid-template-columns: 1fr 1fr;
}

.integrante-desc {
    width: 100px;
    padding-top: 0px;
    display: inline-block;
    margin-left: 15px;
}

.integrantesDark, .integrantesLigth { 
    background-color: rgb(22, 22, 22); 
    padding-left: 30px;
    margin-top: 70px;
    width: 250px; 
    position: fixed;
    transition: all 1s;

}

.integrantesLigth {
    background-color: rgb(255, 255, 255);

}

.integrantesDark.active, .integrantesLigth.active {
    /* background-color: rgb(91, 88, 88); */
    margin-top: 80px;
    
}

.integrantesLigth.active {
    /* background-color: rgb(201, 201, 201); */
}


.containerPrincipal {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 300px;
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;

}

.container, .container2, .temaConten {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.container, .container2 {
    margin: 10px;
    margin-top: 70px;
    width: 100%;
}

.container2 {
    display: grid;
	grid-template-columns: 2fr 1fr;
}

.contenidoPagina {
}

/*Temas*/
.divTemas {
    margin-top: 0px;
    padding-top: 0px;
    display: grid;
	grid-template-rows: auto 1fr;
}

.divCartTemas {
    display: grid;
	grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.temaConten {
    display: block;
    margin: 20px;
    padding: 20px;
    padding-top: 0px;
    height: 100%;
    
}

.temaConten-img1, .temaConten-img2 {
    width: 600px;
    height: 300px;
}

